


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  letter-spacing: .02em;
  margin: 0 0 22px;

  a,
  a:visited {
    color: $c_text_dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    align-items: center;
    display: flex;
    position: relative;

    &::after {
      background: url(#{$i}/icons/breadcrumbs_divider.svg) 0 0 no-repeat scroll transparent;
      background-size: contain;
      content: "";
      height: 10px;
      display: inline-block;
      margin: 0 9px 2px;
      width: 5px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  @media #{$tablet_l} {
    font-size: 14px;
  }

  @media #{$tablet_s} {
    font-size: 12px;
  }

  @media #{$mobile} {
    display: none;
  }
}


