


// defaults tags [START]
footer {}



h1 {
  //color: $c_link;
  color: #000;
  font-size: 53px;
  line-height: 88.6%;
  //padding: 1em 0;
  text-align: left;
  letter-spacing: -0.024em;
  //text-transform: uppercase;
}

h2 {
  font-family: $font_roboto;
  color: #000;
  font-size: 32px;
  letter-spacing: -.03em;
  text-align: center;

  @media only screen and (max-width: 500px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 460px) {
    font-size: 23px;
  }
}



header {
  line-height: 1;
}



input {
  &[type="submit"] {
    left: -100vw;
    position: absolute;
  }
}



li {
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}
// defaults tags [END]



// help class's [START]
.content {
  position: relative;
  z-index: 3;
}



// logo [START]
.logo,
.logo:visited {
  align-items: flex-end;
  display: flex;
  padding: 2px 0 0;
  text-decoration: none;
}

.logo__img {
  margin: 0 13px 0 0;
}

.logo__text {
  padding: 0 0 7px;
}

@media only screen and (max-width: 980px) {
  .logo__img {
    width: 30px;
  }

  .logo__text {
    padding: 0 0 2px;
    width: 160px;
  }
}

@media only screen and (max-width: 500px) {
  .logo__img {
    display: none;
    max-width: 42px;
  }

  .logo__text {
    padding: 0;
    width: 172px;
  }
}

@media only screen and (max-width: 380px) {
  .logo__text {
    width: 114px;
  }
}
// logo [END]



.login_nav {
  font-size: 18px;
}

.login_nav__item {
  margin: 0 0 0 28px;
}

@media only screen and (max-width: 980px) {
  .login_nav__item {
    display: none;
  }
}



.order_right_arrow {
  color: green;
  font-size: 30px;
}

.order_type_icons {
  color: black;
  font-size: 20px;
}



.pagination {
  align-items: center;
  display: flex;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  justify-content: center;

  a,
  a:visited {
    background-color: rgba($c_link_additional, .17);
    border-radius: 6px;
    color: #000;
    display: inline-block;
    padding: 18px 18px 10px;
    text-decoration: none;

    &.active,
    &:hover {
      background-color: $c_link_additional;
      color: #fff;
      text-decoration: none;
    }
  }

  span {
    background-color: rgba($c_link_additional, .17);
    border-radius: 6px;
    color: #000;
    display: inline-block;
    padding: 14px 15px;
  }

  li {
    display: flex;
    margin: 0 12px;
  }
}



.plane_icon {
  color: blueviolet;
  font-size: 20px;
}



// send_or_grab [START]
.send_or_grab {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 742px;
  width: 100%;

  div {
    border-radius: 18px;
    box-shadow: 1px 7px 33px 1px rgba(#000, .15);
    height: 320px;
    padding: 4px;
    transition: $transition;
    width: 320px;

    &:hover {
      background: linear-gradient(90deg, $c_special_blue, $c_special_green);
      cursor: pointer;
    }
  }
}

.send_or_grab__inner {
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  color: $c_special_blue;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0 52px;
  width: 100%;

  span {
    padding: 37px 0 0;
  }
}

@media only screen and (max-width: 980px) {
  .send_or_grab {
    align-items: center;
    flex-direction: column;

    div {
      &:first-child {
        margin: 0 0 38px;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .send_or_grab {
    div {
      height: 246px;
      width: 246px;

      &:first-child {
        margin: 0 0 26px;
      }
    }
  }

  .send_or_grab__inner {
    padding: 0 0 40px;

    img {
      max-width: 88px;
    }

    span {
      font-size: 23px;
    }
  }
}
// send_or_grab [END]



.wrap {
  margin: 0 auto;
  max-width: 1180px;
}
// help class's [END]








.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform .5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%) translateX(100vw);
}


