



.footer {
    background: linear-gradient(103.16deg, rgba(35,158,225, .15) 38.81%, rgba(112,255,0, .15) 69.05%, rgba(112,255,0, 0) 107.67%);
    display: block;
    padding: 131px 0 142px;
    position: relative;
    z-index: 1;
}

.footer_app {
    display: flex;
    flex-direction: column;

    &__item {
        display: block;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }

        a,
        a:visited {
            color: #000;
            display: block;
            text-decoration: none;
            transition: $transition;

            &:hover {
                opacity: .5;
            }
        }

        img {
            display: block;
        }
    }
}

.footer_app__item {}

.footer_copyright {
    font-size: 17px;
    text-align: center;
}



// footer_menu [START]
.footer_menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    letter-spacing: -.02em;
    justify-content: space-between;
    max-width: 496px;
    width: 100%;

    &__item {
        display: block;
        padding: 0 0 25px;
        width: 31%;

        a,
        a:visited {
            color: #000;
            display: block;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            display: block;
        }
    }
}

.v-application {
  ul {
    .footer_menu {
        padding: 3px 26px 0 0;
    }
  }
}
// footer_menu [END]



.footer_social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0 58px;
    width: 100%;

    &__item {
        display: block;
        margin: 0 20px;

        a,
        a:visited {
            display: block;
            transition: $transition;

            &:hover {
                opacity: .5;
            }
        }

        img {
            display: block;
        }
    }
}

.footer_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 66px;
    width: 100%;
}

@media #{$tablet_s} {
  .footer_app {
    margin: 0 0 20px;
  }

  .footer_app__item {
    margin: 0 0 25px;

    img {
      width: 188px;
    }
  }

  .footer_copyright {
    font-size: 22px;
    margin: 55px 0 0;
  }

  .footer_menu {
    flex-direction: column;
    padding: 3px 0 0;
  }

  .footer_menu__item {
    font-size: 22px;
    text-align: center;
    padding: 0 0 28px ;
    width: 100%;
  }

  .footer_social {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 340px;
  }

  .footer_social__item {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
    width: 30%;

    img {
      width: 59px;
    }
  }

  .v-application {
    ul {
      &.footer_menu {
        padding: 0 0 65px;
      }
    }
  }
}

@media #{$mobile} {
  .footer_app {
    margin: 0 0 20px;
  }

  .footer_app__item {
    margin: 0 0 20px;

    img {
      width: 144px;
    }
  }

  .footer_copyright {
    font-size: 17px;
    margin: 35px 0 0;
  }

  .footer_menu {
    flex-direction: column;
    padding: 3px 0 0;
  }

  .footer_menu__item {
    font-size: 18px;
    text-align: center;
    padding: 0 0 20px ;
    width: 100%;
  }

  .footer_social {
    width: 262px;
  }

  .footer_social__item {
    display: flex;
    justify-content: center;
    margin: 0 0 28px;

    img {
      width: 44px;
    }
  }

  .footer_wrap {
    padding: 0 0 46px;
  }

  .v-application {
    ul {
      &.footer_menu {
        padding: 0 0 51px;
      }
    }
  }
}