.header {
  position: relative;

  &:after {
    background: url(#{$i}/background_1.svg) right top no-repeat scroll transparent;
    background-size: contain;
    content: "";
    height: 564px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1210px;
    z-index: 0;
  }
}

.header_bars {
      cursor: pointer;
  width: 54px;

  span {
    background-color: $c_primary;
    display: block;
    height: 4px;
    margin: 0 0 8px;
    width: 36px;

    &:nth-child(3) {
      margin: 0;
    }
  }
}

.header_login_icon {
	border-radius: 50%;
	display: flex;
	position: relative;
	overflow: hidden;
	max-width: 54px;

	img {
		width: 100%;
	}
}

.header_mobile {
  display: none;
}



.header_nav {
  font-size: 18px;
  font-weight: 300;

  a,
  a:visited {
    color: #000;
    text-decoration: none;
    transition: $transition;

    &:hover,
    &.router-link-active {
      color: $c_link;
    }
  }
}

.header_nav__item {
      cursor: pointer;
      margin: 0 0 0 36px;
}



.header_right {
  align-items: center;
  display: flex;
  padding: 8px 0 0;
}

.header_wrap {
  align-items: flex-start;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
  padding: 22px 0 29px;
  position: relative;
  width: 100%;
  z-index: 4;
}

@media only screen and (max-width: 1400px) {
  .header {
    &:after {
      display: none;
    }
  }

  .header_wrap {
    padding: 26px 40px 29px;
  }
}

@media only screen and (max-width: 980px) {
  .header_mobile {
    display: block;
  }

  .header_nav {
    display: none;
  }

  .header_wrap {
    align-items: center;
    border-bottom: 1px solid $c_primary;
    padding: 14px 40px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .header_bars {
    width: 40px;
  }

  .header_login_icon {
    max-width: 40px;
  }

  .header_wrap {
    padding: 21px 21px 22px;
  }
}

@media only screen and (max-width: 380px) {
  .header_bars {
    width: 24px;

    span {
      height: 3px;

      margin: 0 0 5px;
      width: 25px;
    }
  }

  .header_login_icon {
    bottom: 3px;
    max-width: 24px;
  }

  .header_wrap {
    padding: 13px 19px;
  }
}