.home {
  > div.x {
    &::after {
      content: '';
      background-color: #000;
      bottom: 0;
      display: block;
      height: 1px;
      left: 50%;
      margin: 0 auto;
      position: absolute;
      transform: translate(-50%,0);
      width: 224px;
    }
  }

  @media only screen and (max-width: 380px) {
    > div {
      &::after {
        width: 172px;
      }
    }
  }
}



.home_advantages {
  padding: 112px 0 208px;
  position: relative;
  margin: 0 auto;
  width: 90.5%;

  h2 {
    padding: 0 0 28px;
  }
}

.home_advantages_left {
  display: inline-flex;
  flex-direction: column;
  width: 49.8%;
}

.home_advantages_right {
  display: inline-flex;
  flex-direction: column;
  padding: 0 0 0 38px;
  position: relative;
  top: 92px;
  width: 49.8%;
}

.home_advantages_item {
  display: flex;
  padding: 0 0 70px;

  p {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 28px;
    padding: 26px 24px 0;

    span {
      letter-spacing: 0.02em;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .home_advantages {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 530px;
    padding: 115px 0 66px;

    h2 {
      padding: 0 0 62px;
    }
  }

  .home_advantages_left {
    width: 100%;
  }

  .home_advantages_right {
    padding: 0;
    top: 0;
    width: 100%;
  }

  .home_advantages_item {
    justify-content: space-between;
    padding: 0 0 65px;

    p {
      padding: 26px 0 0 0;
      max-width: 72%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .home_advantages {
    padding: 100px 0 37px;
  }
}

@media only screen and (max-width: 500px) {
  .home_advantages {
    flex-direction: column;

    h2 {
      padding: 0 0 42px;
    }
  }

  .home_advantages_item {
    align-items: center;
    flex-direction: column;
    padding: 0 0 108px;
    text-align: center;

    p {
      font-size: 20px;
      line-height: 1.2;
      max-width: 88%;
      padding: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 380px) {
  .home_advantages {
    padding: 68px 0 0;
  }

  .home_advantages_item {
    padding: 0 0 74px;

    img {
      max-width: 76px;
    }

    p {
      font-size: 17px;
      padding: 6px 0 0;
    }
  }
}



.home_backgrounds {
  img {
    position: absolute;

    &:nth-child(1) {
      top: 682px;
      left: 0;
    }

    &:nth-child(2) {
      top: 786px;
      right: 0;
    }

    &:nth-child(3) {
      top: 2248px;
      left: 0;
    }

    &:nth-child(4) {
      top: 3012px;
      right: 0;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .home_backgrounds {
    img {
      display: none;
    }
  }
}



.home_how_it_works {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75.4%;
  padding: 185px 0 116px;

  h2 {
    padding: 0 0 64px;
    width: 100%;
  }
}

.home_how_it_works_text {
  display: inline-flex;
  flex-direction: column;
  max-width: 38%;
  padding: 26px 0 0 70px;

  p {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 88px;
  }
}

@media only screen and (max-width: 1400px) {
  .home_how_it_works {
    max-width: 85.5%;
    padding: 109px 0 40px;

    h2 {
      padding: 0 0 81px;
    }

    > img {
      max-width: 410px;
      width: 100%;
    }
  }

  .home_how_it_works_text {
    padding: 11px 0 0 55px;
    max-width: 51%;

    p {
      padding: 0 0 75px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .home_how_it_works {
    align-items: center;
    flex-direction: column;
  }

  .home_how_it_works_text {
    max-width: 430px;
    padding: 121px 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .home_how_it_works {
    padding: 88px 0 0;

    h2 {
      padding: 0 0 83px;
    }
  }

  .home_how_it_works_text {
    font-size: 20px;
    max-width: 362px;

    p {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .home_how_it_works {
    max-width: 89%;
    padding: 69px 0 0;

    h2 {
      padding: 0 0 46px;
    }
  }

  .home_how_it_works_text {
    max-width: 226px;
    padding: 55px 0 0;

    p {
      font-size: 17px;
      line-height: 20px;
      padding: 0 0 36px;
    }
  }
}



.home_intro {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 23px 0 129px;
  position: relative;
  z-index: 3;
}

.home_intro_text {
  color: $c_text_dark;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 0 0 38px;
  width: 100%;

  h2 {
    padding: 0 0 36px;
    width: 90%;
    color: #000;
    font-size: 53px;
    line-height: 88.6%;
    //padding: 1em 0;
    text-align: left;
    letter-spacing: -0.024em;
  }

  span {
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 0.0045em;
    padding: 0 0 42px;
  }
}

.home_intro_img {
  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .home_intro {
    align-items: flex-start;
    max-width: 75.5%;
    padding: 64px 0 79px;
  }

  .home_intro_text {
    max-width: 44.5%;

    h2 {
      color: #000;
      font-size: 32px;
      letter-spacing: -0.025em;
      padding: 17px 0 25px;
      width: 100%;
    }

    span {
      font-size: 17px;
      padding: 0 0 50px;
    }
  }

  .home_intro_img {
    margin: 0 6px 0 0;
    max-width: 48.5%;
  }
}

@media only screen and (max-width: 980px) {
  .home_intro {
    align-items: center;
    flex-direction: column-reverse;
    max-width: 93%;
    padding: 70px 70px 79px;
  }

  .home_intro_text {
    align-items: center;
    max-width: 454px;
    padding: 37px 0 30px;

    h2 {
      text-align: center;
      max-width: 79%;
      width: 100%;
    }

    span {
      text-align: center;
      padding: 0 0 48px;
    }
  }

  .home_intro_img {
    max-width: 406px;
  }
}

@media only screen and (max-width: 500px) {
  .home_intro {
    padding: 24px 32px 71px;
  }

  .home_intro_text {
    padding: 30px 0;

    h2 {
      font-size: 30px;
      padding: 18px 0;
    }

    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .home_intro {
    padding: 20px 32px 67px;

    &:after {
      max-width: 172px;
    }
  }

  .home_intro_text {
    padding: 10px 0;

    h2 {
      font-size: 23px;
      padding: 16px 0 ;
      max-width: 100%;
    }

    span {
      font-size: 17px;
      line-height: 1.2;
    }
  }
}



.home_mobile_app {
  display: flex;
  margin: 0 auto;
  max-width: 71%;
  padding: 116px 0 129px;
  position: relative;
}

.home_mobile_app_text {
  display: flex;
  flex-direction: column;
  padding: 73px 0 0 60px;

  h2 {
    text-align: left;
    line-height: 30px;
    padding: 0 0 27px;
  }

  span {
    font-size: 22px;
    line-height: 27px;
  }

  div {
    padding: 41px 0 0;
  }

  img {
    width: 158px;
    &:nth-child(1) {
      margin: 0 16px 0 0;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .home_mobile_app {
    align-items: flex-start;
    padding: 145px 0 101px;

    > img {
      max-width: 47.5%;
    }
  }

  .home_mobile_app_text {
    padding: 19px 0 0 32px;

    img {

    }

    span {
      letter-spacing: -0.014em;
    }
  }
}

@media only screen and (max-width: 980px) {
  .home_mobile_app {
    align-items: center;
    flex-direction: column;
    padding: 108px 0 105px;

    > img {
      max-width: 74%;
    }
  }

  .home_mobile_app_text {
    align-items: center;
    padding: 12px 0 10px;
    max-width: 400px;
    text-align: center;

    h2 {
      text-align: center;
    }

    span {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home_mobile_app {
    padding: 124px 0 129px;

    img {
      width: 100%;
      max-width: 352px;
    }
  }

  .home_mobile_app_text {
    padding: 25px 0 0;

    div {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      padding: 52px 0 0;

      img {
        width: 188px;


        &:nth-child(1) {
          margin: 25px 0 0;
        }
      }
    }

    h2 {
      padding: 0 0 26px;
    }

    span {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .home_mobile_app {
    max-width: 75%;
    padding: 112px 0 95px;
  }

  .home_mobile_app_text {
    padding: 29px 0 0;

    div {
      padding: 32px 0 0;

      img {
        max-width: 144px;

        &:nth-child(1) {
          margin: 20px 0 0;
        }
      }
    }

    h2 {
      line-height: 1;
      padding: 0 0 20px;
    }

    span {
      font-size: 17px;
      line-height: 20px;
    }
  }
}



.home_send_or_grab {
  padding: 100px 0 162px;
  position: relative;

  &::after {
    background: url(#{$i}/background_3.svg) 0 0 no-repeat scroll transparent;
    background-size: contain;
    content: "";
    height: 1443px;
    position: absolute;
    right: 0;
    top: 4px;
    width: 306px;
    z-index: 1;
  }

  &::before {
    background: url(#{$i}/background_2.svg) 0 0 no-repeat scroll transparent;
    background-size: contain;
    content: "";
    height: 920px;
    left: 0;
    position: absolute;
    top: -100px;
    width: 426px;
    z-index: 1;
  }

  h2 {
    padding: 0 0 70px;
  }

  @media only screen and (max-width: 1400px) {
    padding: 131px 0 130px;

    &::after,
    &::before {
      display: none;
    }
  }

  @media only screen and (max-width: 980px) {
    padding: 100px 0;
  }

  @media only screen and (max-width: 380px) {
    padding: 77px 0 78px;

    h2 {
      padding: 0 0 58px;
    }
  }
}

.home_send_or_grab__content {
  position: relative;
  z-index: 3;
}


