.messages {
  z-index: 0;
}

.messages__name {
  color: #3C4858;
  font-size: 22px;
  line-height: 1.2;
  margin: 3px 0 0;
  padding-top: 0;
}

.messages__info {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 1.5;
}

.messages__items {
  margin: 47px 0 20px;
}

.messages__item  {
  border-bottom: 1px solid $c_input_border ;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 70px 45px 35px;
  transition: all 0.3s;

  &:hover {
    background-color: rgba($c_primary, .15);

    .messages__btn_wrap {
      display: block;
    }
  }

  &:last-child {
    border-bottom: none ;
  }
}

.messages__btn_wrap {
  display: none;
}

.messages__persone {
  display: flex;
}

.messages__photo {
  border-radius: 50%;
  max-width: 100px;

  > img {
    width: 100%;
  }
}

.messages__photo_wrap {
  position: relative;
  margin: 0 20px 0 0;
}


@media #{$tablet_l} {
  .messages__btn_wrap  {
    display: none;
  }

  .messages__info {
    font-size: 15px;
  }

  .messages__item {
    padding-left: 43px;

    &:hover {
      .messages__btn_wrap {
        display: none;
      }
    }
  }

  .messages__name {
    font-size: 20px;
  }

  .messages__photo {
    max-width: 80px;
  }
}

@media #{$mobile} {
  .messages__info {
    font-size: 10px;
  }

  .messages__item {
    padding-left: 18px;
  }

  .messages__name {
    font-size: 13px;
  }

  .messages__photo {
    max-width: 53px;
  }
}