
.popup {
      background-color: #fff;
  border-radius: 14px;
  left: 50%;
  padding: 70px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  p {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 24px;
    padding: 0 0 20px;
  }
}


.popup_bottom {
  display: flex;
  flex-direction: column;
  margin: 52px 0 0;
  text-align: center;

  a {
    display: inline-block;
  }

  p {
    padding: 0 0 20px;
  }
}

.popup_close_btn {
  background-color: #000;
  border: 1px solid rgba(#000, .99);
  border-radius: 12px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 12px;
  top: 12px;
  transition: $transition;
  width: 40px;

  &::after,
  &::before {
    background-color: #fff;
    content: ' ';
    height: 17px;
    left: 18px;
    position: absolute;
    top: 11px;
    width: 2px;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }

  &:hover {
    background-color: $c_special_blue;
    border: 1px solid $c_special_blue;
  }

  &:active {
    background-color: #fff;

    &::after,
    &::before {
      background-color: $c_special_blue;
    }
  }
}


.popup_login {}

.popup_login_options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px;
  width: 100%;
}

.popup_overlay {
  background-color: rgba(#000, .3);
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 98;
}

.popup_overlay__transparent {
  @extend .popup_overlay;
  background-color: transparent;
}


.popup_one_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  //max-width: 560px;
  width: 418px;
}


.popup_top {
  text-align: center;

  p {
    line-height: 32px;
    font-size: 17px;
    padding: 0 0 20px;
  }
}


.popup_lang_n_cur {
  background-color: $c_popup_bg_secondary;
  border-radius: 10px 0 10px 10px;
  padding: 30px 0 14px;
  position: absolute;
  right: 9%;
  top: 90%;
  width: 184px;
  z-index: 99;
}

.popup_lang_n_cur__wrap {
  margin: 0 auto;
  max-width: 118px;
  width: 100%;

  > div:first-child {
    border-bottom: 1px solid #fefefe;
    padding: 0 0 2px;
    margin: 0 0 17px;
  }
}


@media only screen and (max-width: 1400px) {
  .popup_lang_n_cur {
    border-radius: 0 0 10px 10px;
    right: 145px;
    top: 101%;
  }
}

@media only screen and (max-width: 980px) {
  .popup_lang_n_cur {
    border-radius: 0;
    position: absolute;
    left: 0;
    max-width: 355px;
    padding: 70px 0 1000%;
    right: auto;
    top: 87px;
    width: 100%;
  }

  .popup_lang_n_cur__wrap {
    margin: 0 auto;
    max-width: 202px;
    width: 100%;

    > div:first-child {
      border-bottom: 1px solid #fefefe;
      padding: 0 0 46px;
      margin: 0 0 58px;
    }
  }
}

@media only screen and (max-width: 500px) {
	.popup_lang_n_cur {
		max-width: 100%;
	}
}

@media only screen and (max-width: 380px) {
	.popup_lang_n_cur {
		padding: 59px 0 1000%;
		top: 59px;
	}

	.popup_lang_n_cur__wrap {
		max-width: 152px;

		> div:first-child {
			padding: 0 0 32px;
			margin: 0 0 44px;
		}
	}
}