
.popup_menu {
	align-items: center;
	background-color: #fff;
	border-radius: 0 0 14px 14px;
	box-shadow: 1px 5px 25px 1px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	left: auto;
	padding: 40px 0 20px;
	position: absolute;
	right: 0;
	top: 101%;
	width: 330px;
	z-index: 99;
}

.popup_menu__photo {
	border-radius: 50%;
	display: none;
	overflow: hidden;
	margin: 0 0 30px;
	width: 100px;
}

.popup_menu__icon {
	align-items: center;
	border: 1px solid $c_border;
	border-radius: 8px;
	color: $c_text_special;
	display: flex;
	font-size: 15px;
	height: 32px;
	justify-content: center;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
}

.popup_menu__item {
	cursor: pointer;
	font-size: 18px;
	padding: 23px 50px 22px;
	position: relative;
	transition: $transition;
	width: 100%;

	&:hover {
		background-color: $c_popup_menu_hover;
	}
}

.popup_menu__items {
	display: flex;
	flex-direction: column;
	margin: 25px 0 10px;
	width: 100%;
}

.popup_menu__name {
	font-size: 19px;
	font-weight: 400;
	line-height: 1.3;
	padding: 0 0 13px;
	text-align: center;
}

.popup_menu__number {
	border: 1px solid $c_border;
	border-radius: 8px;
	color: $c_text_special;
	display: flex;
	height: 32px;
	justify-content: center;
	padding: 9px 0 0;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
}

.popup_menu__rating {
	align-items: baseline;
	background-color: $c_elements_bg;
	border-radius: 10px;
	color: #fff;
	display: flex;
	font-size: 17px;
	justify-content: space-between;
	line-height: 1.1;
	padding: 11px 15px 8px 16px;
	width: 77px;

	span {
		font-size: 15px;
	}
}


@media only screen and (max-width: 1400px) {
	.popup_menu {
		padding: 104px 0 4000px;
		position: fixed;
		right: 0;
		top: 0;
		width: 415px;
	}

	.popup_menu__photo {
		display: flex;

		img {
			width: 100%;
		}
	}

	.popup_menu__icon {
		font-size: 18px;
		height: 40px;
		right: 44px;
		width: 40px;
	}

	.popup_menu__item {
		font-size: 23px;
		letter-spacing: -0.025em;
		padding: 27px 96px 29px 70px;
	}

	.popup_menu__items {
		margin: 32px 0 10px;
	}

	.popup_menu__name {
		font-size: 24px;
	}

	.popup_menu__number {
		font-size: 21px;
		height: 40px;
		padding: 11px 0 0;
		right: 44px;
		width: 40px;
	}

	.popup_menu__rating {
		font-size: 21px;
		padding: 16px 20px 12px 17px;
		width: 96px;

		span {
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.popup_menu {
		box-shadow: none;
		padding: 56px 0 4000px;
		top: 93px;
		width: 100%;
	}

	.popup_menu__icon {
		right: 65px;
	}

	.popup_menu__item {
		padding: 27px 118px 29px 60px;
	}

	.popup_menu__number {
		right: 65px;
	}
}

@media only screen and (max-width: 400px) {
	.popup_menu {
		padding: 30px 0 4000px;
		top: 60px;
	}

	.popup_menu__photo {
		margin: 0 0 20px;
		width: 65px;
	}

	.popup_menu__icon {
		font-size: 14px;
		height: 27px;
		right: 55px;
		width: 27px;
	}

	.popup_menu__item {
		font-size: 16px;
		margin: 0 0 7px;
		padding: 16px 90px 14px 60px;
	}

	.popup_menu__items {
		margin: 44px 0 10px;
	}

	.popup_menu__name {
		font-size: 16px;
	}

	.popup_menu__number {
		font-size: 14px;
		height: 27px;
		padding: 8px 0 0;
		right: 55px;
		width: 27px;
	}

	.popup_menu__rating {
		font-size: 14px;
		justify-content: space-between;
		line-height: 1.1;
		padding: 9px 15px 7px 14px;
		width: 68px;

		span {
			font-size: 14px;
		}
	}
}