


.search_tabs .nav-item {
    width: 50%;
}

.search_tabs .nav-link {
    text-align: center;
}

.search_content {
    border-bottom: 1px solid $c_search_bg;
    border-left: 1px solid $c_search_bg;
    border-right: 1px solid $c_search_bg;
    min-height: 500px;
    width: 100%;
}


