


.search_tabs .nav-item {
    width: 50%;
}

.search_tabs .nav-link {
    text-align: center;
}

.search_content {
    width: 100%;
    min-height: 500px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}


