


body  {
  .v-application {
    font-family: $font_main;

    a {
      color: $c_link;

      &.btn_more,
      &.btn_more:visited {
        color: $c_text_dark;

        &:hover {
          color: #fff;
        }
      }
    }

    p {
      margin: 0;
    }

    ul {
      padding: 0;

      &.breadcrumbs {
        padding: 5px 2px;

        @media only screen and (max-width: 1200px) {
          padding: 5px 10px;
        }
      }

      &.pagination {
        padding: 77px 0 99px;
      }
    }

    .chat__agreement_checkbox {
      display: flex;
    }

    .two_inputs {
      display: flex;
      justify-content: space-between;

      > div {
        max-width: 47.5%;
      }
    }

    .take_results_item__list {
      p {
        margin: 0 0 25px;

        &:last-child {
          margin: 0;
        }
      }

      @media only screen and (max-width: 800px) {
        p {
          margin: 0;
        }
      }
    }

    .input_n_select_wrap {
      display: flex;
      justify-content: flex-start;
      margin: 0 0 9px;

      .v-input {
        input {
          border: 1px solid rgba(0, 0, 0, 0.38);
          border-radius: 4px;
        }

        &.v-text-field {
          flex-grow: 1;
          margin: 0 22px 0 0;
          width: 205px;
        }

        &.v-select {
          flex-grow: 0;
          margin: 0 0 0 0;
          width: 124px;
        }
      }
    }

    .v-select__selection {
      margin: 0 0 0 18px;
      position: absolute;

      @media #{$mobile} {
        font-size: 10px;
      }
    }

    .v-autocomplete__content{
      @media #{$mobile} {
        .v-select-list {
          .v-list-item {
            min-height: auto;

            .v-list-item__content {
              .v-list-item__title {
                font-size: 10px;
              }
            }
          }
        }
      }
    }

    .v-btn,
    .v-btn:visited {
      align-items: center;
      border: 1px solid transparent;
      border-radius: 6px;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      letter-spacing: 0;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      transition: $transition;

      &:active {
        opacity: .8;
      }

      &:before {
        background-color: transparent;
      }


      &.v-btn--contained {
        box-shadow: none;
      }

      &.v-size--default {
        font-size: 20px;
        height: 55px;
        padding: 0 70px;
      }

      &.v-size--small {
        font-size: 15px;
        height: 37px;
        padding: 0 39px;
      }

      &.v-btn--block {
        max-width: 260px;
        padding: 0 70px;
        width: 100%;
      }

      &.primary {
        border: 1px solid transparent !important;
        background: linear-gradient(138deg, #00A8E4 74.4%, #00A7E5 74.41%, #55D074 120.36%);
        background-color: transparent !important;
        color: #fff !important;

        &:hover {
          background: transparent !important;
          border: 1px solid $c_primary !important;
          color: $c_primary !important;
        }
      }

      &.secondary {
        background-color: transparent !important;
        border-color: $c_primary !important;
        color: $c_primary !important;

        &:hover {
          background: linear-gradient(137.73deg, $c_btn_gradient_1 52.21%, $c_btn_gradient_2 52.22%, $c_btn_gradient_3 105.02%);
          border-color: transparent !important;
          color: #fff !important;
        }
      }

      &.primary_light {
        background-color: rgba($c_primary, .25) !important;
        color: $c_text_dark;

        &:hover {
          opacity: 0.8;
        }
      }

      @media #{$mobile} {
        &.v-size--default {
          border-radius: 4px;
          font-size: 13px;
          height: 34px;
          padding: 0 70px;
        }

        &.v-size--small {
          font-size: 15px;
          height: 37px;
          padding: 0 39px;
        }

        &.v-btn--block {
          height: 48px;
          padding: 0 10px;
        }
      }
    }

    .v-select.v-text-field--outlined:not(.v-text-field--single-line) {
      .v-select__selections {
        padding: 0;
      }
    }

    .v-text-field--outlined {
      fieldset {
        top: 0;
      }
    }

    .v-card {
      align-items: center;
      background: transparent;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      overflow: auto;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;

      > div {
        border-radius: 14px;
      }

      > *:last-child:not(.v-chip) {
        border-radius: 14px;

        @media #{$mobile} {
          border-radius: 8px;
        }
      }

      &__subtitle {
        text-align: center;
        line-height: 32px;
        font-size: 17px;
        padding: 0 0 20px;
      }

      &__title {
        font-size: 24px;
        font-weight: 500;
        justify-content: center;
        margin: 0 auto 30px;
        line-height: 1.4;
        text-align: center;
      }

      @media #{$tablet_l} {
        &__title {
          margin: 0 auto 5px;
        }
      }

      @media #{$mobile} {
        &__title {
          margin: 0 auto;
          padding: 16px 0 9px;
        }

        &__subtitle {
          text-align: center;
          line-height: 20px;
          font-size: 10px;
          padding: 10px 0;
        }
      }
    }


    .v-text-field--outlined > .v-input__control > .v-input__slot {
      min-height: auto;
    }

    .v-input--checkbox {
      .v-label {
        color: #000;
        font-size: 14px;
        line-height: 1.5;
        top: 2px;
        transform: none;
      }

      .mdi-checkbox-blank-outline {
        &:before {
          content: ' ';
          background: none;
          border: 1px solid $c_primary;
          border-radius: 6px;
          height: 22px;
          width: 22px;
        }
      }

      .mdi-checkbox-marked {
        &:before {
          content: ' ';
          background: url(#{$i}/icons/checkbox_done.svg) center center no-repeat scroll transparent;
          background-color: $c_primary;
          border-radius: 6px;
          height: 22px;
          width: 22px;
        }
      }

      &.v-input--selection-controls {
        margin-top: 0;
        padding-top: 0;
      }

      .v-input--selection-controls__input {
        height: 22px;
        margin-right: 8px;
        width: 22px;

        .v-input--selection-controls__ripple {

        }
      }

      .v-input__slot {
        margin: 0;
      }

      .v-input__control {
        .v-messages {
          display: none;
        }
      }

      @media #{$mobile} {
        .v-label {
          font-size: 9px;
        }

        .mdi-checkbox-blank-outline {
          &:before {
            content: ' ';
            background: none;
            border: 1px solid $c_primary;
            border-radius: 4px;
            height: 15px;
            width: 15px;
          }
        }

        .mdi-checkbox-marked {
          &:before {
            content: ' ';
            background: url(#{$i}/icons/checkbox_done.svg) center center no-repeat scroll transparent;
            background-color: $c_primary;
            background-size: 11px 7px;
            border-radius: 4px;
            height: 15px;
            width: 15px;
          }
        }

        .v-input--selection-controls__input {
          margin: 0;
        }
      }
    }

    .v-checkbox_v2 {
      margin: 0;
      padding: 0 0 14px;

      .v-input__slot {
        margin: 0;
        padding: 0;
      }

      .v-label {
        color: #ffffff;
        font-size: 15px;
      }

      .mdi-checkbox-blank-outline {
        &:before {
          background: url(#{$i}/icons/checkbox_w.svg) center center no-repeat scroll transparent;
          content: ' ';
          height: 27px;
          width: 27px;
        }
      }

      .mdi-checkbox-marked {
        &:before {
          content: ' ';
          background: url(#{$i}/icons/checkbox_w_active.svg) center center no-repeat scroll transparent;
          height: 27px;
          width: 27px;
        }
      }

      .v-input--selection-controls__input {
        height: 27px;
        margin-right: 13px;
        width: 27px;
      }

      .v-input--selection-controls__ripple {
        left: -11px;
      }

      @media #{$tablet_l} {
        .mdi-checkbox-blank-outline {
          &:before {
            background-size: cover;
            height: 42px;
            width: 42px;
          }
        }

        .mdi-checkbox-marked {
          &:before {
            background-size: cover;
            height: 42px;
            width: 42px;
          }
        }

        .v-input--selection-controls__input {
          height: 42px;
          margin-right: 19px;
          width: 42px;
        }

        .v-input--selection-controls__ripple {
          left: -3px;
        }

        .v-label {
          font-size: 23px;
        }
      }

      @media #{$mobile} {
        .mdi-checkbox-blank-outline {
          &:before {
            background-size: cover;
            height: 33px;
            width: 33px;
          }
        }

        .mdi-checkbox-marked {
          &:before {
            background-size: cover;
            height: 33px;
            width: 33px;
          }
        }

        .v-input--selection-controls__input {
          height: 33px;
          margin-right: 19px;
          width: 33px;
        }

        .v-input--selection-controls__ripple {
          left: -8px;
        }

        .v-label {
          font-size: 18px;
        }
      }
    }

    .v-checkbox_v3 {
      margin: 0 40px 0 0;
      padding: 0;

      .v-input__slot {
        margin: 0;
        padding: 0;
      }

      .v-label {
        font-weight: 300;
        font-size: 20px;
        top: 4px;
      }

      .mdi-checkbox-blank-outline {
        &:before {
          background: none;
          border: 1px solid $c_link_additional;
          border-radius: 6px;
          content: ' ';
          height: 32px;
          width: 32px;
        }
      }

      .mdi-checkbox-marked {
        &:before {
          content: ' ';
          background: url(#{$i}/icons/checkbox_done.svg) center center no-repeat scroll transparent;
          background-color: $c_link_additional;
          border-radius: 6px;
          height: 32px;
          width: 32px;
        }
      }

      .v-input--selection-controls__input {
        height: 32px;
        margin-right: 21px;
        width: 32px;
      }

      .v-input--selection-controls__ripple {
        left: -8px;
      }

      @media #{$tablet_l} {
        .v-label {
          font-size: 18px;
        }
      }

      @media #{$mobile} {
        margin: 0 24px 0 0;

        .mdi-checkbox-blank-outline {
          &:before {
            height: 19px;
            width: 19px;
          }
        }

        .mdi-checkbox-marked {
          &:before {
            background-size: 8px;
            height: 19px;
            width: 19px;
          }
        }

        .v-input--selection-controls__input {
          height: 19px;
          margin-right: 19px;
          width: 19px;
        }

        .v-input--selection-controls__ripple {
          left: -14px;
        }

        .v-label {
          font-size: 10px;
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    .v-input.v-textarea {
      .v-input__control {
        .v-text-field__details {
          display: flex;
          padding: 0 5px;

          .v-counter {
            font-size: 17px;
            height: 14px;
            margin: 1px 0;
            line-height: 17px;
            font-style: italic;
          }
        }

        .v-input__slot {
          margin-bottom: 9px;
        }
      }
    }

    .v-input--radio-group {
      margin: 0 0 5px;
      padding: 0;

      .v-input__control {
        .v-messages {
          display: none;
        }
      }
    }

    .v-input__control {
      .v-input__slot {
        .v-radio {
          margin: 0 40px 0 0;

          .mdi-radiobox-blank {
            &:before {
              content: " ";
              background: url(#{$i}/icons/radio.svg) center center no-repeat scroll transparent;
              background-size: cover;
              height: 31px;
              width: 31px;
            }
          }

          .mdi-radiobox-marked {
            &:before {
              content: " ";
              background: url(#{$i}/icons/radio_active.svg) center center no-repeat scroll transparent;
              background-size: cover;
              height: 31px;
              width: 31px;
            }
          }

          .v-input--selection-controls__input {
            height: 31px;
            margin: 0 16px 0 0;
            width: 31px;

            .v-input--selection-controls__ripple {
              left: -9px;
            }
          }

          .v-label {
            top: 0;
            transform: translate(0,0);
          }

          @media #{$mobile} {
            margin: 0 20px 0 0;

            .mdi-radiobox-blank {
              &:before {
                height: 19px;
                width: 19px;
              }
            }

            .mdi-radiobox-marked {
              &:before {
                height: 19px;
                width: 19px;
              }
            }

            .v-input--selection-controls__input {
              margin: 0 3px 0 0;
            }

            .v-label {
              font-size: 11px;
            }
          }
        }
      }
    }

    .v-text-field {
      margin-top: 0;
      padding-top: 0;

      .v-label--active {
        color: $c_text_dark !important;
        transform: translate(60px,0);
        opacity: 0;
      }

      .v-input__control {
        .v-input__slot {
          margin-bottom: 10px;

          .v-input__append-inner {
            //display: none;
          }
        }

        .v-text-field__details {
          display: flex;
          flex-direction: row-reverse;
          min-height: auto;

          .v-messages {
            flex-grow: 1;
            height: auto;
            min-height: auto;
            padding: 0 0 0 20px;

            .v-messages__message {
              height: auto;
              text-align: right;
              font-size: 16px;
              font-style: italic;
              line-height: 16px;
              padding: 0 2px 0 0;

              @media #{$mobile} {
                font-size: 10px;
              }
            }
          }

          .v-counter {
            font-size: 16px;
          }
        }
      }

      .v-input__prepend-outer {
        position: relative;
        margin-top: 18px;
      }

      .v-input__slot {
        padding: 0;

        fieldset {
          border: none;

          legend {
            display: none;
          }
        }

        input {
          border: none;
          color: $c_text_dark;
          padding: 24px 18px 18px;
          max-height: 60px;
        }

        textarea {
          border: 1px solid $c_input_border;
          border-radius: 4px;
          color: $c_text_dark;
          font-size: 16px;
          font-style: italic;
          line-height: 1.4;
          padding: 28px 28px 48px;
        }

        .v-text-field__slot {
          border: 1px solid $c_input_border;
          border-radius: 6px;

          .v-text-field__prefix {
            color: $c_text_dark;
            font-size: 17px;
            padding: 20px 0 15px 6px;
            position: relative;
            left: 10px;
          }
        }

        .v-select__slot {
          border: 1px solid $c_input_border;
          border-radius: 6px;

          .v-select__slot {
            border: none;
          }

          .v-input__append-inner {
            position: absolute;
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0;

            .mdi-menu-down {
              &:before {
                content: " ";
                background: url(#{$i}/icons/select.svg) 0 0 no-repeat scroll transparent;
                background-size:cover;
                height: 20px;
                width: 20px;
              }
            }

            @media #{$mobile} {
              right: 8px;

              .mdi-menu-down {
                &:before {
                  height: 11px;
                  width: 11px;
                }
              }
            }
          }
        }

        &:after {
          display: none;
        }

        &:before {
          display: none;
        }
      }

      @media #{$mobile} {
        .v-label {
          font-size: 10px;
        }

        .v-input__control {
          .v-input__slot {
            margin-bottom: 4px;
          }

          .v-text-field__details {
            .v-counter {
              font-size: 10px;
            }
          }
        }

        .v-input__prepend-outer {
          margin-top: 8px;
          margin-right: 4px;

          .v-input__icon--prepend {
            font-size: 18px;
          }
        }

        .v-input__slot {
          input {
            font-size: 10px;
            padding: 9px 13px 6px;
          }

          .v-text-field__slot {
            .v-text-field__prefix {
              color: $c_text_dark;
              font-size: 10px;
              padding: 11px 0 9px 6px;
              position: relative;
              left: 10px;
            }
          }
        }
      }
    }

    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
      padding: 0;
    }

    .v-label {
      top: 22px;
      transition: $transition;
      transform: translate(20px,0);

      @media #{$mobile} {
        top: 10px;
        transform: translate(10px,0);
      }
    }

    .v-label--active {
      top: 22px;
    }

    .account_info {
      p {
        margin: 0 0 20px;

        @media #{$desktop} {
          margin: 0 0 25px;
        }
      }
    }

    .rules {
      &__content {
        p {
          margin: 1em 0;
        }
      }
    }

    .rules_menu {
      a,
      a:visited {
        color: $c_text_dark;

        &:hover {
          color: $c_primary;
        }
      }

      @media #{$tablet_m} {
        a,
        a:visited {
          &:hover {
            color: #fff;
          }
        }
      }
    }

    .submenu {
      a,
      a:visited {
        color: $c_input_border;

        &.router-link-exact-active {
          color: $c_primary;

          &::after {
            display: block;
          }
        }

        &:hover {
          color: $c_primary;
        }
      }
    }

    @media #{$mobile} {
      .v-card {
        &__title {
          font-size: 16px;
        }
      }
    }
  }
}



// btn [START]
.btn,
.btn:visited {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  max-width: 420px;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}



.btn_back,
.btn_back:visited {
  background-color: #D4F0FA;
  color: #000;
}

.btn_more,
.btn_more:visited {
  background-color: rgba($c_primary, .17);

  &:hover {
    background-color: $c_primary;
  }
}

.btn_primary,
.btn_primary:visited {
  border: 1px solid $c_link;
  color: $c_link;
  text-decoration: none;

  &:hover,
  &.router-link-active {
    background: linear-gradient(137.73deg, $c_btn_gradient_1 52.21%, $c_btn_gradient_2 52.22%, $c_btn_gradient_3 105.02%);
    border-color: rgba($c_link, .9);
    color: #fff;
  }
}

.btn_small,
.btn_small:visited {
  height: 37px;
  padding: 0 38px;
  max-width: initial;
}



.btn_submit,
.btn_submit:visited   {
  border: 1px solid $c_primary;
  color: $c_primary;
  font-size: 20px;
  line-height: 1.3;
  padding: 16px 96px;
  width: auto;
}
// btn [END]


.input_confirm {
  display: flex;
  justify-content: space-between;
  padding: 0 0 25px;
  width: 100%;

  input {
    border: 1px solid #000;
    border-radius: 6px;
    height: 83px;
    font-size: 50px;
    text-align: center;
    width: 70px;
  }

  @media #{$mobile} {
    input {
      font-size: 30px;
      height: 49px;
      padding: 4px 0 0;
      width: 42px;
    }
  }
}



.input_wrap {
  font-size: 17px;
  margin: 0 0 9px;
  max-width: 420px;
  position: relative;
  width: 100%;

  input {
    border: 1px solid $c_input_border;
    border-radius: 4px;
    display: block;
    padding: 16px 18px;
    width: 100%;
  }

  @media #{$mobile} {
    display: block;
    margin: 0 0 5px;
  }
}

.input_wrap__img {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 19px;
  //top: 50%;
  //transform: translateY(-60%);

  @media #{$mobile} {
    right: 11px;
    top: 13px;
    width: 17px;
  }
}



.link_primary,
.link_primary:visited {
  color: $c_primary;
  font-size: 22px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @media #{$mobile} {
    font-size: 13px;
  }
}

.link_dark,
.link_dark:visited {
  color: $c_text_dark;

  &:hover {
    text-decoration: none;
  }
}

.link_back,
.link_back:visited {
  background: url(#{$i}/icons/link_back.svg) 0 0 no-repeat scroll transparent;
  color: $c_text_dark;
  font-size: 15px;
  left: 0;
  min-height: 31px;
  min-width: 31px;
  padding: 6px 0 0 50px;
  position: absolute;
  top: 8px;

  @media #{$desktop} {
    left: 10px;
  }

  @media #{$tablet_l} {
    font-size: 0;
    padding: 0;
  }
}



.person_rating {
  background: url(#{$i}/icons/star.svg) 0 0 no-repeat scroll transparent;
  background-size: 15px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.1;
  padding: 0 0 0 20px;

  @media #{$tablet_l} {
    background-size: 11px;
    font-size: 13px;
  }

  @media #{$tablet_m} {
    background-size: 15px;
    font-size: 17px;
  }

  @media #{$mobile} {
    background-size: 11px;
    font-size: 13px;
  }
}


