@charset "utf-8";




.btn,
.btn:visited {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 420px;
  transition: all 0.3s;
  width: 100%;
}

.btn_blue,
.btn_blue:visited{
  border: 1px solid transparent;
  background: linear-gradient(138deg, #00A8E4 74.4%, #00A7E5 74.41%, #55D074 120.36%);
  color: #fff !important;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: #fff;
    border: 1px solid $c_special_blue;
    color: $c_special_blue !important;
    text-decoration: none;
  }
}

.btn_empty,
.btn_empty:visited {
  border: 1px solid $c_special_blue;
  color: $c_special_blue;

  &:hover {
    background:linear-gradient(138deg, #00A8E4 74.4%, #00A7E5 74.41%, #55D074 120.36%);
    color: #fff;
  }
}

.btn_medium,
.btn_medium:visited {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 11px 0;
  max-width: 260px;
}

.btn_large,
.btn_large:visited {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 11px 0;
  max-width: 420px;
}

@media only screen and (max-width: 460px) {
  .btn_medium {
    font-size: 18px;
    max-width: 180px;
    padding: 9px 0;
  }
}

.btn_small,
.btn_small:visited {
  height: 37px;
  padding: 0 38px 0;
  max-width: initial;
}


.link_blue,
.link_blue:visited {
  color: $c_special_blue;
  font-size: 24px;

  &:hover {
    text-decoration: none;
  }
}


.input_text {
  border: 1px solid $c_input_border;
  border-radius: 4px;
  font-size: 17px;
  height: 60px;
  margin: 0 0 15px;
  max-width: 420px;
  padding: 0 18px;
  width: 100%;
}

.input_password {
  position: relative;
  margin: 0 0 15px;
  max-width: 420px;
  width: 100%;

  img {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-60%);
  }

  input {
    border: 1px solid $c_input_border;
    border-radius: 4px;
    font-size: 17px;
    height: 60px;
    max-width: 420px;
    padding: 0 18px;
    width: 100%;
  }
}





.checkbox {
  cursor: pointer;
  .control-me {
    height: 22px;
    margin: 0 4px 0 0;
    width: 22px;

    &::after {
      background: url("#{$i}/icons/checkbox.svg") center center no-repeat;
      content: " ";
      display: block;
      font-size: 100px;
      height: 22px;
      width: 22px;
    }
  }

  input {
    position: absolute;
    left: -100vw;
  }

  input:checked ~ .control-me::after {
    background: url("#{$i}/icons/checkbox_active.svg") center center no-repeat;
  }
}
