


.btn,
.btn:visited {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: 420px;
  transition: all 0.3s;
  width: 100%;
}

.btn_blue,
.btn_blue:visited {
  border: 1px solid transparent;
  background: linear-gradient(138deg, #00A8E4 74.4%, #00A7E5 74.41%, #55D074 120.36%);
  color: #fff !important;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: #fff;
    border: 1px solid $c_special_blue;
    color: $c_special_blue !important;
    text-decoration: none;
  }
}

.btn_empty,
.btn_empty:visited {
  border: 1px solid $c_special_blue;
  color: $c_special_blue;

  &:hover {
    background:linear-gradient(138deg, #00A8E4 74.4%, #00A7E5 74.41%, #55D074 120.36%);
    color: #fff;
  }
}

.btn_large,
.btn_large:visited {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 11px 0;
  max-width: 420px;
}

.btn_medium,
.btn_medium:visited {
  border: 1px solid transparent;
  font-size: 20px;
  padding: 11px 0;
  max-width: 260px;

  @media only screen and (max-width: 460px) {
    font-size: 18px;
    max-width: 180px;
    padding: 9px 0;
  }
}

.btn_small,
.btn_small:visited {
  height: 37px;
  padding: 0 38px 0;
  max-width: initial;
}



// checkbox [START]
.checkbox {
  align-items: center;
  display: flex;
  cursor: pointer;

  input {
    left: -100vw;
    position: absolute;

    &:checked ~ .checkbox__box {
      background-image: url(#{$i}/icons/checkbox_active.svg);
    }
  }
}

.checkbox__box {
  background: url(#{$i}/icons/checkbox.svg) center center no-repeat scroll transparent;
  display: block;
  height: 22px;
  margin: 0 4px 0 0;
  width: 22px;
}

.checkbox__desc {}
// checkbox [END]



.input_wrap {
  font-size: 17px;
  margin: 0 0 15px;
  max-width: 420px;
  position: relative;
  width: 100%;

  input {
    border: 1px solid $c_input_border;
    border-radius: 4px;
    display: block;
    padding: 16px 18px;
    width: 100%;
  }
}

.input_wrap__img {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-60%);
}



.link_blue,
.link_blue:visited {
  color: $c_special_blue;
  font-size: 24px;

  &:hover {
    text-decoration: none;
  }
}


