


body {
  .v-application {
    font-family: $font_main;

    a {
      color: $c_link;

      &.btn_more,
      &.btn_more:visited {
        color: $c_link_dark;

        &:hover {
          color: #fff;
        }
      }
    }

    p {
      margin: 0;
    }

    ul {
      padding: 0;

      &.breadcrumbs {
        padding: 5px 2px;

        @media only screen and (max-width: 1200px) {
          padding: 5px 10px;
        }
      }

      &.pagination {
        padding: 77px 0 99px;
      }
    }

    .take_results_item__list {
      p {
        margin: 0 0 25px;

        &:last-child {
          margin: 0;
        }
      }

      @media only screen and (max-width: 800px) {
        p {
          margin: 0;
        }
      }
    }


    .v-card {
      div {
        border-radius: 14px;
      }
    }

    .v-card__title {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    .v-card__subtitle {
      //color: $c_;
      text-align: center;
      line-height: 32px;
      font-size: 17px;
      padding: 0 0 20px;
    }


    .v-input--checkbox {
      .v-label {
        color: $c_text_main;
        font-size: 14px;
        line-height: 1.5;
      }

      .mdi-checkbox-blank-outline {
        &:before {
          content: ' ';
          background: url(/img/checkbox.71ab55f3.svg) center center no-repeat scroll transparent;
          height: 22px;
          width: 22px;
        }
      }

      .mdi-checkbox-marked {
        &:before {
          content: ' ';
          background: url(/img/checkbox_active.8ace836c.svg) center center no-repeat scroll transparent;
          height: 22px;
          width: 22px;
        }
      }

      .v-input--selection-controls__input {
        height: 22px;
        margin-right: 4px;
        width: 22px;
      }
    }

    .v-text-field {
      .v-input__slot {
        .v-label {
          top: 18px;
          padding: 0 18px;
        }

        .v-label--active {
            top: 8px;
        }

        .v-text-field__slot {
          input {
            padding: 16px 18px;
            max-height: 59px;
          }
        }

        &:after {
          display: none;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}


