


body {
  .v-application {
    font-family: $font_main;

    a {
      color: $c_link;
    }

    p {
      margin: 0;
    }

    ul {
      padding: 0;

      &.breadcrumbs {
        padding: 5px 2px;
      }
    }

    .take_results_item__list {
      p {
        margin: 0 0 25px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}


